## Lecture session for 1) data structures in Python and 2) conditional statements in Python

### 1) Data structures

#### Arrays

In [1]:
#Importing array library

import array as arr

In [17]:
#Array consisting of floating numbers

my_array = arr.array('d', [2.3, 4.6, 6.9, 9.2])
my_array

array('d', [2.3, 4.6, 6.9, 9.2])

In [18]:
#Array cannot hold different data types

err_array = arr.array('d', [2.3, 4.6, 6.9, "Hello"])
print(err_array)

TypeError: must be real number, not str

In [19]:
#Getting the length of an array

array_length = len(my_array)
print(array_length)

4

In [7]:
#Array indexing

my_array[0]

2.3

In [8]:
#Array indexing

my_array[1:3]

array('d', [4.6, 6.9])

In [9]:
#Changing elements in arrays

my_array[0] = 1
print(my_array)

array('d', [1.0, 4.6, 6.9, 9.2])

In [10]:
#Changing elements in arrays

my_array[1:3] = arr.array('d', [34, 56])
print(my_array)

array('d', [1.0, 34.0, 56.0, 9.2])

In [11]:
#Adding elements to arrays

my_array.append(99)
print(my_array)

array('d', [1.0, 34.0, 56.0, 9.2, 99.0])

In [14]:
#Deleting elements in arrays based on positions

my_array.pop(2)
print(my_array)

array('d', [1.0, 34.0, 99.0])

#### Lists

In [13]:
# Lists - example 1

my_list1 = [2.3, 4.6, 6.9, 54, 1001]
my_list1

[2.3, 4.6, 6.9, 54, 1001]

In [14]:
# Lists - example 2

my_list2 = [2.3, 4.6, 6.9, 'data', 'memory']
my_list2

[2.3, 4.6, 6.9, 'data', 'memory']

In [15]:
# Lists - example 3

my_list3 = [2.3, 4.6, 6.9, [1,3,5], ['science', 'engineering']]
my_list3

[2.3, 4.6, 6.9, [1, 3, 5], ['science', 'engineering']]

In [16]:
#List indexing

my_list2[1]

4.6

In [17]:
#List indexing

my_list2[1:4]

[4.6, 6.9, 'data']

In [18]:
#List indexing

my_list2[:4]

[2.3, 4.6, 6.9, 'data']

In [19]:
#List indexing

my_list2[2:]

[6.9, 'data', 'memory']

In [20]:
#Changing elements in lists

my_list2[2] = 'science'
my_list2

[2.3, 4.6, 'science', 'data', 'memory']

In [21]:
#Adding elements to lists

my_list2.append('comp thinking') 
my_list2

[2.3, 4.6, 'science', 'data', 'memory', 'comp thinking']

In [22]:
#Inserting elements to lists

my_list2.insert(2, 'hello')
my_list2

[2.3, 4.6, 'hello', 'science', 'data', 'memory', 'comp thinking']

In [67]:
#Deleting elements in lists based on positions

my_list2.pop(3)
my_list2

[2.3, 4.6, 'science', 'memory', 'comp thinking']

In [68]:
# Nested lists - example

my_list4 = [1,2,3,[4,5,['target']]]
my_list4[3][2][0]

'target'

In [69]:
#Creating lists using range() function

my_list5 = list(range(40))
my_list5

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [70]:
#Operations on lists: Finding the maximum value in a list

print(max(my_list5))

39

In [71]:
#Operations on lists: Finding the minimum value in a list

print(min(my_list5))

0

In [72]:
#Operations on lists: Finding the sum of the values in a list

print(sum(my_list5))

780

In [73]:
#Operations on lists: Finding the length of the list

print(len(my_list5))

40

#### Tuples

In [51]:
# Tuples - example 1

my_tuple1 = (2.3, 4.6, 6.9, 54, 1001)

In [52]:
# Tuples - example 2

my_tuple2 = (2.3, 4.6, 6.9, 'data', 'memory')

In [53]:
# Tuples - example 3

my_tuple3 = (2.3, 4.6, 6.9, (1,3,5), ('science', 'engineering'))

In [54]:
#Tuple indexing

my_tuple2[3]

'data'

In [55]:
#Tuple indexing

my_tuple2[2:]

(6.9, 'data', 'memory')

In [56]:
#Elements of a tuple cannot be altered - immutable

my_tuple2[3] = 'mary'

TypeError: 'tuple' object does not support item assignment

#### Sets

In [84]:
# Sets - example 1

my_set1 = {2.3, 4.6, 6.9, 54, 1001}

In [85]:
# Sets - example 2

my_set2 = {2.3, 4.6, 6.9, 'data', 'memory'}

In [86]:
# Sets - example 3

my_set3 = {1,2,2,'hello','hello','data','data',4,4,4,4,4,4}
print(my_set3)

{1, 2, 4, 'data', 'hello'}

In [87]:
#Elements of a set cannot be indexed - unordered

my_set3[0]

TypeError: 'set' object does not support indexing

In [88]:
#Adding elements to sets using add() function

my_set3.add(5)
my_set3

{1, 2, 4, 5, 'data', 'hello'}

#### Dictionaries

In [30]:
#Dictionary - example 1

my_dict1 = {'Name': 'Joe', 'Age': 8, 'Class': 'Second'}

In [31]:
#Dictionary - example 2

my_dict2 = {'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2020}

In [32]:
#Dictionary - example 3

my_dict3 = {'key': [20, 25, 25, {'innerkey': [11, 22, 33]}]}

In [33]:
#Dictionary indexing

my_dict2['Brand']

'Ford'

In [37]:
#Dictionary indexing

my_dict3['key'][3]['innerkey'][2]

33

In [94]:
#Adding a new key-element pair to a dictionary

my_dict2['Color'] = 'Red'
my_dict2

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2020, 'Color': 'Red'}

### 2) Conditional statements

In [95]:
# if statement - example

if 100>200:
    print('Larger')

In [96]:
# if statement - example

if 100<200:
    print('Smaller')

Smaller

In [97]:
# if....else statements - example

if ('bob' in ['sam', 'bob', 'mary', 'joe']):
    print('Present')
else:
    print('Absent')

Present

In [98]:
# if....elif....else statements - example

num = 3.4

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [103]:
#Nested conditional statements - example

marks = 75

if marks >= 55:
    if marks >= 55 and marks <= 69:
        print("D grade")
    elif marks >=70 and marks <= 79:
        print("C grade")
    elif marks >=80 and marks <= 89:
        print("B grade")
    else:
        print("A grade")
else:
    print ("Fail")

C grade